.my-rect {
  cursor: pointer;
}
.tooltip{
  padding: 5px;
  position: absolute;
  border-style: solid;
  white-space: nowrap;
  z-index: 9999999;
  transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1), top 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: rgba(50, 50, 50, 0.7);
  border-width: 0px;
  border-color: rgb(51, 51, 51);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 14px;
  .tip-icon {
    margin-right: 5px;
  }
}
.grid-x .tick line, .grid-y .tick line{
  stroke: lightgrey;
  stroke-width:0.5
}

.barGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    border: 1px solid lightgrey;
  }
}